<!-- <app-header-dasboard></app-header-dasboard> -->
<app-header-dasboard></app-header-dasboard>
<div class="listeapprenent  mb-5">
    <div class="container">
    <div class="title text-center">
      <h3 class="text-center fw-bold "><span class="material-symbols-outlined">
        add_notes
        </span >Liste des evaluations </h3>
    </div>
    <div class="listecontainer" id="liste">
      <div >
       <button type="button" class="btn titre text-center mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
          Ajouter une evaluation
      </button>
    </div>

    <div class="card-body shadow-lg">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
              <thead>
                  <tr>
                      <th appCouleurfond class="text-white fw-bold"> Semestre</th>
                      <th appCouleurfond class="text-white fw-bold">Etat</th>
                      <th appCouleurfond class="text-white fw-bold">Niveau</th>
                      <th appCouleurfond class="text-white fw-bold">Matiere </th>
                      <th appCouleurfond class="text-white fw-bold">Date </th>
                      <th appCouleurfond class="text-white fw-bold">Note </th>
                      <!-- <th appCouleurfond class="text-white fw-bold">Semestre </th> -->
                    </tr>
              </thead>
              <tfoot>
              </tfoot>
              <tbody >
                  <tr *ngFor="let evalue of Evaluation" >
                      <td> {{evalue.semestre}}</td>
                      <td> {{evalue.etat}}</td>
                      <td>{{evalue.niveau}}</td>
                      <td>{{evalue.matiere}}</td>
                      <td>{{evalue.date}}</td>
                      <td><input type="text" placeholder="noter" > </td>
                      
                  </tr>

              </tbody>
          </table>
      </div>
  </div>
</div>
  </div>
</div>


<!-- Ajout classe  -->

<!-- Button trigger modal -->
<div class="text-center">

</div>

<!-- Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5 " id="staticBackdropLabel" >  
        <span class="material-symbols-outlined">
          list_alt_add
          </span>
          Ajouter une classe </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <form action="" method ="post">
       
    
        <div class="mb-3">
            <label for="validationDefault04" class="form-label">Semestre</label>
            <select class="form-select"  name="semestre" for ="niveau" required  [(ngModel)]="addProf.semestre">
              <option selected disabled value="">Choisissez le semestre </option>
              <option value="semestre 1">semestre 1</option>
              <option value="semestre 2">semestre 2</option>
              <option value="semestre 3">semestre 3</option>
            </select>
          </div>
        <div class="mb-3">
            <label for="validationDefault04" class="form-label">  Niveau</label>
            <select class="form-select"  name="niveau" for ="niveau" required  [(ngModel)]="addProf.niveau">
              <option selected disabled value="">Choisissez le niveau </option>
              <option value="licence 1">Licence 1</option>
              <option value="licence 2">Licence 2</option>
              <option value="licence 3">Licence 3</option>
              <option value="Master 1">Master 1</option>
              <option value="Master 2">Master 2</option>
            </select>
          </div>
        
          <div class="mb-3">
            <label for="matiere" class="form-label">Matiere</label>
            <select class="form-select" id="matiere" name ="matiere"[(ngModel)]="addProf.matiere"   required>
              <option selected disabled value="">Choisissez la matière</option>
              <option value="Anglais">Anglais</option>
              <option value="Analyse">Analyse</option>
              <option value="Algèbre">Algèbre</option>
              <option value="Biologie">Biologie</option>
              <option value="Chimie">Chimie</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Mettez la date de l'évaluation</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="addProf.date" >
         </div>
               <div class="mb-3">
                        <label for="etat" class="form-label">Etat</label>
                        <select class="form-select" id="etat" name="etat"  [(ngModel)]="addProf.etat"required >
                          <option selected disabled value="">Choisissez la etat</option>
                          <option>A Faire</option>
                          <option>Encours</option>
                          <option>Terminer</option>

                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="professeur" class="form-label">Mettez la professeur de l'évaluation</label>
                        <input type="professeur" class="form-control" id="professeur" name="professeur" [(ngModel)]="addProf.professeur" >
                     </div>
      </form>
      </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      <button type="button" class="btn btn-primary"  (click)="addEvaluation()">Enregistrer</button>
    </div>


  </div>
 

  
